  /* /* body {
    background: #e5e5e5;
  }
  .section_1 {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 0px;

    background: #ed4c5c;
  }
  .heder_section_1 {
    margin-left: 165px;
    margin-top: 122px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #ffffff;
  }
  .text_sector_1 {
    padding-left: 165px;
    padding-right: 830px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ffffff;
  }
  .img_1_sector_1 {
    margin-left: 691px;
    margin-bottom: px;

    background: url(.jpg), #c4c4c4;
    opacity: 0.5;
    border-radius: 15px;
  }
  .img_2_sector_1 {
    position: absolute;
    width: 383px;
    height: 267px;
    left: 841px;
    top: 116px;

    background: url(.jpg), #c4c4c4;
    opacity: 0.5;
    border-radius: 15px;
  }
  .img_3_sector_1 {
    position: absolute;
    width: 445px;
    height: 311px;
    left: 735px;
    top: 94px;

    background: url(.jpg), #c4c4c4;
    border-radius: 15px;
  }
  .icon_2 {
    margin-bottom: 115px;
    margin-left: 220px;
  }
  .icon_3 {
    margin-bottom: 115px;
    margin-left: 273px;
  }

  .section_2 {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 500px;

    background: #ffffff;
  }
  .heder_section_2 {
    position: absolute;
    width: 117px;
    height: 107px;
    left: 176px;
    top: 117px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
  }
  .text_sector_2 {
    margin-left: 176px;
    margin-top: 213px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    text-align: justify;

    color: #000000;
  }
  .first_name {
    position: absolute;
    width: 255px;
    height: 60px;
    left: 735px;
    top: 617px;

    /* Gray 1 */
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
  }
  .first_text {
    margin-top: 21px;
    margin-left: 35px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);

    border-radius: 6px;
  }
  .last_name {
    position: absolute;
    width: 255px;
    height: 60px;
    left: 1020px;
    top: 617px;

    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
  }
  .last_text {
    margin-top: 21px;
    margin-left: 35px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
  }
  .Phone_Number {
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 701px;

    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
  }
  .Phone_text {
    margin-top: 21px;
    margin-left: 35px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
  }
  .Select_Service {
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 785px;

    /* Gray 1 */
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
  }
  .Select_text {
    margin-top: 21px;
    margin-left: 35px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
  }
  .gal {
    margin-left: 477px;
    margin-top: -15px;
    font-family: Segoe MDL2 Assets;
    font-size: 14px;
    line-height: 14px;

    color: rgba(19, 39, 67, 0.5);
  }
  .Address {
    position: absolute;
    width: 65px;
    height: 22px;
    left: 166px;
    top: 1130px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    color: #101010;
  }
  .Address_info {
    position: absolute;
    width: 254px;
    height: 54px;
    left: 166px;
    top: 1185px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    color: #101010;
  }
  .Address_coment {
    position: absolute;
    width: 155px;
    height: 14px;
    left: 161px;
    top: 1380px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #101010;
  }
  .Service {
    position: absolute;
    width: 67px;
    height: 22px;
    left: 450px;
    top: 1130px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #101010;
  }
  .Service_info {
    position: absolute;
    width: 254px;
    height: 114px;
    left: 450px;
    top: 1180px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    text-transform: capitalize;

    color: #000000;
  }
